.main_chat
  .group_info
    %p.group_info__current_group 
      = @group.name
    %ul.group_info__member_list 
      member: 
      %li.group_info__member_list__member 
        - @group.users.each do |user|
          %li= user.name
    .group_info__edit_btn
      = link_to edit_group_path(@group.id) do
        Edit
      
  .messages
    = render @messages
  .message_form
    = form_for [@group, @message] do |f|
      .message_form__new_message
        .message_form__new_message__input_box
          = f.text_field :content, class: 'message_form__new_message__input_box__text', placeholder: 'type a message'
          = f.label :image, class: 'message_form__new_message__input_box__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'message_form__new_message__input_box__image__file'
        = f.submit 'Send', class: 'btn'